div{
    position: absolute;
}
html, body{
    overflow-x: hidden;
}


#box{
    width: 0px;
    height: 0px;
    border-bottom: 200px solid transparent;
    border-left: 100vw solid transparent ;
    border-top: 150px solid darkblue;
    position: absolute;
}

#img1 img{
    width: auto;
    height: 6rem;
    background-size: cover;
    overflow: visible;
    margin-left: 1300px;
}

#img2 img{
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 600px;
}

#cover img{
    width: 1550px;
    height: 600px;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -11;
}

.for_overline{
    text-decoration: overline;
    text-align: center;
    color: white;
    font-size: 70px;
    margin: 50px auto;
    position: relative;
}

#contain_text h1{
    text-align: center;
    color: white;
    font-size: 33px;
}

#contain_text{
    width: 600px;
    height: 280px;
    background-color: rgba(0,0,255,0.6);
    margin: 150px 350px auto 800px;
    display: block;
    position: absolute;
}

#bottom-top {
    width: 100%;
    height: 0px;
    border-bottom: 165px solid #c7c10c;
    border-left:100vw solid transparent;
    border-top: 100px solid transparent;
    margin-top: 336px;
    z-index: -11;
}

#text2{
    display: inline-block !important;
    margin-top: 482px;
    color: darkblue;
    margin-left: 750px;
    width: 800px;
}

#text2 h1{
    font-size: 45px;
    display: inline;
}
#text2 p{
    font-size: 40px;
    display: block;
    position: absolute;
}

#text-message {
    width: 1100px;
    margin-left: 280px;
    font-size: 20px;
    margin-top: 1050px;
}

#content h1{
    margin-left: 300px;
}
#profile img{
    width: 363px;
    height: 400px;
    margin-top: 1150px;
    margin-left: 100px;
}

#profile p{
    margin-left: 100px;
}

#box_inside {
    width: 400px;
    height: 60px;
    margin-top: 1560px;
    margin-left: 130px;
    background: darkblue;
    z-index: -11;
}

#box_outside {
    width: 400px;
    height: 70px;
    margin-top: 1530px;
    margin-left: 150px;
    background: #eec005;
    color: white;
    font-size: 1.3em;
}

#message {
    font-size: 20px;
    margin-top: 1190px;
    margin-left: 690px;
    width: 700px;
}

#for_blue{
    margin-top: 1680px;
    border-bottom: 300px solid transparent;
    border-left: 1550px solid transparent ;
    border-top: 300px solid darkblue;
}

#for_yellow{
    width: 0px;
    height: 0px;
    border-bottom: 100px solid transparent;
    border-left: 550px solid #c7c10c;
    border-top: 100px solid transparent;
    margin-top: 1680px;
    z-index: -11;
}

#about {
    width: 750px;
    height: 70px;
    color: white;
    padding: 20px;
    border-radius: 35px;
    margin-top: 2830px;
    margin-left: 200px;
    background: darkblue;
}

#asd img{
    width: 500px;
    height: 500px;
    margin-top: 3300px;
    margin-left: 100px;
}

#message_asd{
    width: 800px;
    margin-top: 3100px;
    margin-left: 620px;
    font-size: 38px;
}

#founders{
    margin-top: 4300px;
    border: solid darkblue;
    width: 1300px;
    height: 500px;
    margin-left: 200px;
    font-size: 20px;
}

#dsp{
    margin-top: 4900px;
    border: solid darkblue;
    width: 600px;
    height: 300px;
    margin-left: 200px;
    font-size: 20px;
}

#organizing{
    margin-top: 4900px;
    border: solid darkblue;
    width: 600px;
    height: 300px;
    margin-left: 900px;
    font-size: 20px;
}

#scientific{
    margin-top: 5300px;
    border: solid darkblue;
    width: 600px;
    height: 300px;
    margin-left: 200px;
    font-size: 20px;
}

#ways{
    margin-top: 5300px;
    border: solid darkblue;
    width: 600px;
    height: 300px;
    margin-left: 900px;
    font-size: 20px;
}

#physical{
    margin-top: 5700px;
    border: solid darkblue;
    width: 600px;
    height: 300px;
    margin-left: 200px;
    font-size: 20px;
}

#publicity{
    margin-top: 5700px;
    border: solid darkblue;
    width: 600px;
    height: 300px;
    margin-left: 900px;
    font-size: 20px;
}

#registration{
    margin-top: 6100px;
    border: solid darkblue;
    width: 600px;
    height: 300px;
    margin-left: 200px;
    font-size: 20px;
}

#research{
    margin-top: 6100px;
    border: solid darkblue;
    width: 600px;
    height: 300px;
    margin-left: 900px;
    font-size: 20px;
}

#subscribe {
    width: 1550px;
    height: 120px;
    margin-top: 6420px;
    background: darkblue;
    color: white;
}

#subscribe h1{
    margin-top: 30px;
    margin-left: 70px;
    float: left;
}

#suscribe input{
    float: right;
    width: 400px;
    margin-left: 100px
}

#button_sub{
    margin-top: 6480px;
    width: 590px;
    margin-left: 907px;
}

#button_sub button{
    background-color: yellow;
    color: darkblue;
    width: 412px;
}

#for_blue2{
    width: 0px;
    height: 0px;
    border-bottom: 100px solid transparent;
    border-left: 1550px solid darkblue;
    border-top: 100px solid transparent;
    margin-top: 6750px;
}

#for_yellow2{
    margin-top: 6750px;
    border-bottom: 100px solid transparent;
    border-left: 1550px solid transparent ;
    border-top: 100px solid #c7c10c;
    z-index: 11;
}

#for_bue2_mess{
    margin-top: 6830px;
    color: white;
    margin-left: 400px;
    width: 700px;
}

#social{
    margin-top: 6550px;
    margin-left: 400px;
}

#social img{
    width: 300px;
}

#social_mess{
    margin-top: 6600px;
    margin-left: 800px;
    color: darkblue;
    font-size: 80px;
}

#vid{
    margin-top: 550px;
    margin-left: 450px;
}

#left{
    font-size: 4em;
    margin-top: 1150px;
    margin-left: 600px;
}

#right{
    font-size: 2em;
    float: right;
}


@media all and (max-width: 1500px) and (min-width: 500px) {
    #img1 img{
        width: auto;
        height: 6rem;
        background-size: cover;
        overflow: visible;
        margin-left: 1100px
    }

    #for_yellow {
        width: 0px;
        height: 0px;
        border-bottom: 60px solid transparent;
        border-left: 550px solid #c7c10c;
        border-top: 60px solid transparent;
        margin-top: 1900px;
        z-index: -11;
    }

    #for_blue{
        margin-top: 1900px;
        border-bottom: 300px solid transparent;
        border-left: 2000px solid transparent ;
        border-top: 300px solid darkblue;
    }
    #cover img{
        width: 1050px;
        height: 600px;
        position: absolute;
        background-repeat: no-repeat;
        z-index: -11;
    }
    #contain_text{
        width: 300px;
        height: 300px;
        margin: 120px 125px auto 400px;
        display: block;
        position: absolute;
    }

    #contain_text h1{
        text-align: center;
        color: white;
        font-size: 23px;
    }

    #text2{
        display: inline-block !important;
        margin-top: 525px;
        color: darkblue;
        margin-left: 100px;
        width: 800px;
    }
    #text2 h1{
        font-size: 25px;
        display: inline;
    }
    #text2 p{
        font-size: 25px;
        margin-left: 140px;
        display: block;
        position: absolute;
    }
    #vid{
        margin-top: 600px;
        margin-left: 0px;
    }
    #vid iframe{
        width: 900px;
        height: 450px;
    }
    #content h1{
        margin-left: -100px;
        margin-top: 30px;
    }

    #profile img{
        width: 350px;
        height: 350px;
        margin-top: 1150px;
        margin-left: 250px;
    }

    #box_inside {
        width: 400px;
        height: 60px;
        margin-top: 1500px;
        margin-left: 240px;
        background: darkblue;
        z-index: -11;
    }

    #box_outside {
        width: 400px;
        height: 70px;
        margin-top: 1480px;
        margin-left: 250px;
        background: #eec005;
        color: white;
        font-size: 1.3em;
    }
    #left{
        text-indent: -99999px;
    }
    #right{
        text-indent: -99999px;
    }
    #message {
        font-size: 15px;
        margin-top: 1590px;
        margin-left: 90px;
        width: 600px;
    }
}

@media all and (max-width: 800px) and (min-width: 300px){
    #img1 img{
        width: auto;
        height: 5rem;
        background-size: cover;
        overflow: visible;
        margin-left: 300px;
    }

    #for_yellow {
        width: 0px;
        height: 0px;
        border-bottom: 40px solid transparent;
        border-left: 550px solid #c7c10c;
        border-top: 40px solid transparent;
        margin-top: 1750px;
        z-index: -11;
    }

    #for_blue{
        margin-top: 1750px;
        border-bottom: 300px solid transparent;
        border-left: 3000px solid transparent ;
        border-top: 300px solid darkblue;
    }
    #cover img{
        width: 800px;
        height: 600px;
        position: absolute;
        background-repeat: no-repeat;
        z-index: -11;
    }
    #contain_text{
        width: 300px;
        height: 300px;
        margin: 140px 30px auto 150px;
        display: block;
        position: absolute;
    }

    #contain_text h1{
        text-align: center;
        color: white;
        font-size: 23px;
    }
    #text2{
        display: inline-block !important;
        margin-top: 520px;
        color: darkblue;
        margin-left: 50px;
        width: 400px;
    }

    #text2 h1{
        font-size: 22px;
        margin-left: 160px;
        display: inline;
    }
    #text2 p{
        font-size: 13px;
        margin-left: 150px;
        display: block;
        position: absolute;
    }
    #vid{
        margin-top: 390px;
        margin-left: 0px;
    }
    #vid iframe{
        width: 500px;
        height: 700px;
    }
    #content h1{
        margin-left: -200px;
        font-size: 25px;
        margin-top: -100px;
    }

    #profile img{
        width: 250px;
        height: 250px;
        margin-top: 1000px;
        margin-left: 150px;
    }

    #box_inside {
        width: 340px;
        height: 60px;
        margin-top: 1250px;
        margin-left: 100px;
        background: darkblue;
        z-index: -11;
    }

    #box_outside {
        width: 350px;
        height: 70px;
        margin-top: 1220px;
        margin-left: 110px;
        background: #eec005;
        color: white;
        font-size: 1.3em;
    }
    #left{
        text-indent: -99999px;
    }
    #right{
        text-indent: -99999px;
    }
    #message {
        font-size: 15px;
        margin-top: 1350px;
        margin-left: 50px;
        width: 400px;
    }
}


