html, body{
    overflow-x: hidden;
}

.accordion-button:after{
    padding: 17px;
    background-color: #030c4c;
    background-position: 50%;
    justify-content: center;
    border-radius: 50%;
    outline: 0;
}


.bg-030C4C{
    background-color: #030c4c;
    border-radius: 20px!important;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    border-bottom: 0 !important;
}

.logo_asd{
    width: 100%;
}

button{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.accordion-button{
    font-size: 22px !important;
    color: yellow;
}

.fw-bold a{
    color: #030c4c;
}

.ts-1 {
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.container .col-image .color-box{
    padding: 0.2em 4em;
    background-color: #eec005;
    box-shadow: -10px 10px 0 0 #040c55;
    margin-top: -5%;
    letter-spacing: 1px;
    font-size: 1.3em;
    color: #fff;
}

.color-box{
    position: absolute;
    z-index: 102;
    margin-top: 500px;
}

.container .col-text .upper-quote{
    position: relative;
    font-size: 5em;
    top: -50px;
    left: -40px;
}

.container .col-text{
    font-size: 1.1em
;
}


.lower-quote{
    float: right;
    font-size: 5em;
    top: -50px;
    left: -40px;
}

.lower-quote  #message-overall-chair{
    font-size: 5em;
    top: -50px;
    left: -40px;
}

.container .col-image p{
    font-weight: 700;
    text-align: center;
}

#color-box{
    margin-top: 550px;
    margin-left: 100px;
}

#content-frame{
    position: absolute;
    z-index: -11;
    width: 750px;
}

#fees{
    background: rgba(40,42,49,.94902);
}

.text-start{
    color: black;
    font-weight: 700;
}

.ps-5{
    font-weight: 600;
}

.iconList ul li .asd-link{
    text-decoration: none;
    font-weight: 700;
    color: #030c4c;
    font-size: 45px;
}
img, svg{
    vertical-align: middle;
}

.iconList ul li {
    margin: 25px;
}

#social-footer{
    position: absolute;
    z-index: -11;
}

#text-social-footer{
    margin-top: 150px;
}

#right-image img{
    height: 100px;
    width: 206px;
    position: absolute;
}

#right-image{
    margin-left: 84%
}

#right-image img{
    z-index: 100;
    margin-top: 10px;
}
#about-box-blue{
    position: absolute;
    z-index: 100;
    border-left: 100vw solid transparent ;
    border-top: 170px solid #030c4c;
}


#about-box-yellow{
        border-bottom: 165px solid #eec005;
        border-left:100vw solid transparent;
        border-top: 100px solid transparent;
        z-index: 100;
        position: absolute;
        margin-top: 380px;
}

#about-box-yellow h2{
    z-index: -11;
    position: absolute;
}

#about-banner{
    background-image: url("../image/banner.jpg");
}

#about-title{
    margin-top: 550px;
    position: absolute;
    z-index: 100;
    margin-left: 80%;
    color: #030c4c;
    font-weight: 700;
    display: inline-block;
}

#about-paragraph{
    margin-top: 590px;
    position: absolute;
    z-index: 100;
    margin-left: 77%;
    color: #030c4c;
    font-weight: 700;
    display: inline-block;
}

#about-meeting{
    position: absolute;
    top: 23%;
    background-color: #001357;
    width: 600px;
    right: 80px;
}

.divider-2{
    border: 2px solid #fff;
    opacity: 1;
}

#promo-video {
    margin-left: 30%;
}


@media all and (max-width: 1445px) and (min-width: 1189px) {
    #about-title{
        margin-left: 76%;
    }

    #about-paragraph{
        margin-left: 72%;

    }
}
@media all and (max-width: 1400px) and (min-width: 500px){
    hr{
        display: none;
    }
    #about-meeting hr {
        display: inherit;
    }
    #color-box{
        margin-left: 50px;
    }
}

@media all and (max-width: 1325px) and (min-width: 768px) {
    #promo-video{
        margin-left: 15%;
    }
    #promo-video iframe{
        width: 500px;
        height: 300px;
    }
    #content-frame{
        position: absolute;
        z-index: -11;
        width: 540px;
    }

    #right-image{
        margin-left: 74%;
    }
}

@media all and (max-width: 1200px) and (min-width: 570px) {
    #organizingCommittee-header{
        font-size: 1.5rem;
    }

}

@media all and (max-width: 1200px) and (min-width: 764px) {
    #organizingCommittee-about{
        font-size: 1.4rem;
    }
}

@media all and (max-width: 1189px) and (min-width: 993px) {
    #about-title{
        margin-left: 69%;
    }

    #about-paragraph{
        margin-left: 65%;

    }
    #about-meeting{
        margin-top: 5%;
    }
}

@media all and (max-width: 993px) and (min-width: 768px){
    #president-message-asd{
        margin-left: 28%;
    }

}

@media all and (max-width: 993px) and (min-width: 200px) {
    #about-title{
        margin-left: 65%;
    }

    #about-paragraph{
        margin-left: 57%;

    }

    #about-meeting h1{
        font-size: 1.7rem;
    }
    #left-image img{
        width: 500px;
        height: 741px;
        margin-top: -30px;
    }
    .lower-quote{
        display: none;
    }
    .upper-quote{
        display: none;
    }
    #color-box{
        margin-top: 0px;
        font-size: 1rem;
    }
    #organizingCommittee-container{
        margin-top: 80px;
    }
    .container-fluid img{
        margin-top: 80px;
    }
    #president-message-dsp{
        font-size: 2rem;
    }
    #about-box-yellow{
        margin-top: 448px;
        z-index: 200;
    }

    #about-title{
        margin-top: 620px;
        z-index: 200;
    }

    #about-paragraph{
        margin-top: 660px;
        z-index: 200;
    }
    .logo_asd{
        width: 50%;
        margin-left: 20%;
    }
}


@media all and (max-width: 781px) and (min-width: 528px) {
    #about-title{
        margin-left: 59%;
    }

    #about-paragraph{
        margin-left: 49%;
    }

}

@media all and (max-width: 781px) and (min-width: 740px) {
    #about-title{
        margin-left: 59%;
    }
    #about-paragraph{
        margin-left: 49%;
    }
    #about-meeting h1{
        font-size: 1.9rem;
        z-index: 200;
    }
    #about-meeting hr{
        z-index: 200;
    }
    #about-block-color-blue{
        width: 800px;
        height: 413px;
        position: absolute;
        background-color: #001357;
        z-index: 100;
        margin-top: 300px;
    }
    #about-meeting {
        margin-top: 20%;
    }
}

@media all and (max-width: 768px) and (min-width: 200px) {
    #president-message-asd{
        margin-left: 16%;
    }
    #promo-video img{
        display: none;
    }
    #promo-video{
        margin-left: -10%;
    }
    #promo-video iframe{
        width: 500px;
        height: 300px;
    }
    #right-image{
        margin-left: 55%;
    }
}


@media all and (max-width: 740px) and (min-width: 582px) {
    #about-meeting {
        margin-top: 20%;
    }
    #about-meeting h1{
        font-size: 1.9rem;
        z-index: 200;
    }
    #about-meeting hr{
        z-index: 200;
    }
   #about-block-color-blue{
       width: 800px;
       height: 428px;
       position: absolute;
       background-color: #001357;
       z-index: 100;
       margin-top: 285px;
   }
}

@media all and (max-width: 730px) and (min-width: 500px) {
    #president-message-dsp{
        font-size: 1.7rem;
    }
}

@media all and (max-width: 582px) and (min-width: 200px) {
    #about-meeting {
        margin-top: -450px;
        height: 300px;
        width: 500px;
        position: initial;
        z-index: 100;
    }

    #about-box-yellow{
        margin-top: 448px;
        z-index: 200;
    }
    #about-title{
        z-index: 200;
        margin-left: 250px;
        margin-top: 650px;
    }
    #about-paragraph{
        z-index: 200;
        margin-left: 130px;
        margin-top: 680px;
    }

    #about-block-color-blue{
        width: 600px;
        height: 453px;
        position: absolute;
        background-color: #001357;
        margin-top: 260px;
    }
    #about-box-yellow {
        margin-top: 505px;
        border-bottom: 105px solid #eec005;
        border-left: 100vw solid transparent;
        border-top: 100px solid transparent;
    }
    #right-image{
        width: 10%;
        height: 30%;
        margin-left: 48%;
    }
    #color-box{
        margin-left: 50px;
    }
    .logo_asd {
        width: 350px;
        margin-left: 50px;
    }
}

@media all and (max-width: 532px) and (min-width: 500px) {
    #organizingCommittee-header{
        font-size: 1.3rem;
    }
}

@media all and (max-width: 528px) and (min-width: 500px) {
    #about-title{
        margin-left: 55%;
        font-size: 1.5rem;
    }

    #about-paragraph{
        margin-left: 49%;
    }

    #about-box-yellow{
        margin-top: 448px;
        z-index: 200;
    }
    #about-title{
        z-index: 200;
    }
    #about-paragraph{
        z-index: 200;
    }

    @media all and (max-width: 528px) and (min-width: 500px) {
        #about-title {
            margin-left: 55%;
            font-size: 1.5rem;
        }

        #about-paragraph {
            margin-left: 49%;
        }

        #about-box-yellow {
            margin-top: 448px;
            z-index: 200;
        }

        #about-title {
            z-index: 200;
        }

        #about-paragraph {
            z-index: 200;
        }
    }
}

@media all and (max-width: 500px) and (min-width: 200px){
    hr{
        display: none;
    }
}

